$almond: #ecdcc9;
$beige: #eff0d1;
$blueBlack: #262730;
$cobaltBlue: #004fff;
$coolGray: #9fa4c4;
$cyan: #31afd4;
$darkBrown: #522a27;
$darkGreen: #0e402d;
$darkOrange: #c73e1d;
$davyGray: #494949;
$gold: #c59849;
$green: #04724d;
$greenBeige: #eef5d8;
$info: #0095f1;
$lightGreen: #a6d49f;
$limeGreen: #3bc14a;
$offWhite: #f9e7e7;
$olive: #9cb380;
$onyx: #393e41;
$orange: #ff8a5b;
$pure-black: #000000;
$quartz: #bcabae;
$wheat: #edd4b2;

:export {
    almond: $almond;
    beige: $beige;
    blueBlack: $blueBlack;
    cobaltBlue: $cobaltBlue;
    coolGray: $coolGray;
    cyan: $cyan;
    darkBrown: $darkBrown;
    darkGreen: $darkGreen;
    darkOrange: $darkOrange;
    davyGray: $davyGray;
    gold: $gold;
    green: $green;
    greenBeige: $greenBeige;
    info: $info;
    lightGreen: $lightGreen;
    limeGreen: $limeGreen;
    offWhite: $offWhite;
    olive: $olive;
    onyx: $onyx;
    orange: $orange;
    pureBlack: $pure-black;
    quartz: $quartz;
    wheat: $wheat;
}
